
.menubar {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  /* padding: 2px 3vmin; */
  padding:0;
  z-index: 2;
  border-top: 0;
  border-bottom: 1px solid rgb(152, 202, 165);
  background-color: rgba(169, 169, 169, 0.1);
}

.menubar ul.menu, .menubar .menu ul {
    list-style-type: none;
    margin-left: 0;
    text-align: left; 
}
.menubar, .menubar a {
    font-size: 1rem; 
}

.menu li {
  display: inline-block; 
  padding: 2px 18px 0 18px;
  margin: 0;
}

.menu a {
  font-size: 1rem;
  display: block;
  padding: 5px 8px 5px 8px;
  color: rgba(73, 98, 80, 0.5);  
  transition: 0.4s;
}
  
.menu a:hover { 
  color: rgb(100, 8, 8);  
  transition: 0.2s;
}

.menu a.active,
.menu li.active a {
  color: rgb(21, 37, 24);
  /* background-color: rgb(243, 229, 186); */
  background-color: rgba(152, 202, 165, 0.7);
  border-radius: 0px 0px 0px 0;
  transition: 0.6s;
} 

.menu li.active a::first-letter {
  color: rgb(124, 4, 4);
}

